# Binaries
/main
*.exe

# Build
tmp/
tmp/**

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Test coverage
coverage.out
*.test

# Generated mocks
internal/store/mock_querier.go
internal/hub/mock_hub.go
internal/github/mock_app_client.go
